body {
    background-color: rgb(194, 194, 213);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: rgb(250, 98, 240);
    padding: 20px;
    color: white;
}

nav {
    margin: 20px 0;
}



a {
    color: rgb(245, 245, 245);
    border: 2px solid rgb(239, 95, 220);
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    margin: 5px;
    
    }
a:hover{
    color: rgb(239, 95, 219);
}

main {
    padding: 20px;
}

h2 {
    color: rgb(250, 98, 240);
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
}


img {
    border-radius: 8px;
    transition: transform 0.3s;
}